*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: .5s;
}

body{
    height: 100vh;
    background-size: 300%;
    background-position: center center;
    background-image: linear-gradient(45deg, slateBlue, rgb(124, 201, 227), slateBlue);
    animation: backgroundMovement 8s infinite linear;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    padding: 20px;
}

@keyframes backgroundMovement {
    0%{
        background-position: 0 100%;
    }
    50%{
        background-position: 100% 0;
    }
    100%{
        background-position: 0 100%;
    }
}

#gameBox{
    max-width: 700px;
    width: 100%;
    background: rgba(230, 230, 230, 0.8);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-height: 1000px;
    height: auto;
}

#gameBox #addTaskBox{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

#gameBox #addTaskBox #taskValue{
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, .2);
    border: none;
    outline: none;
}

#gameBox #addTaskBox #addTaskButton{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: none;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .2);
    background-color: aquamarine;
    padding: 4px 20px;
    font-family: "Roboto", sans-serif;
    transition: .5s;
}

#gameBox #addTaskBox #addTaskButton:hover{
    transform: scale(1.08);
}

#gameBox #tasks{
    width: 100%;
    display: flex;
    padding: 20px;
    gap: 20px;
    flex-direction: column;
    overflow-y: auto;
    max-height: 300px;
    overflow-x: hidden;
}

#gameBox #tasks:empty{
    display: none;
}

#gameBox #tasks .task{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    align-items: center;
    border-radius: 25px;
}

#gameBox #tasks .task.filtered{
    display: none;
}

#gameBox #tasks .task .leftPartOfTask{
    display: flex;
    gap: 15px;
    align-items: center;
}

#gameBox #tasks .task .leftPartOfTask .taskValue{
    max-width: 60px;
    overflow: scroll;
}

#gameBox #tasks .task.resolved .leftPartOfTask .taskValue{
    color: gray;
    text-decoration: line-through;
}

#gameBox #tasks .task .rightPartOfTask{
    display: flex;
    align-items: center;
    gap: 15px;
}

#gameBox #tasks .task .rightPartOfTask .timer{
    width: 30px;
    height: 30px;
    display: none;
}

#gameBox #tasks .task .rightPartOfTask .deleteTask{
    padding: 10px;
    border-radius: 15px;
    transition: .5s;
    background: linear-gradient(135deg, #f292ed, #f36364);
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

#gameBox #tasks .task .rightPartOfTask .deleteTask:hover{
    transform: scale(1.08) rotate(5deg);
}

#gameBox #filters{
    display: flex;
    gap: 20px;
    align-items: center;
}

#gameBox #filters .filter{
    padding: 10px;
    background: linear-gradient(45deg, #f4e6f1, #f3a0d7);
    font-weight: 600;
    border: none;
    border-radius: 20px;
    transition: .5s;
}

#gameBox #filters .filter:hover{
    transform: translateY(-5px);
}

@media screen and (max-width: 375px) {
    #gameBox #tasks{
        max-height: 90px;
    }

    #gameBox #filters{
        gap: 5px;
    }
}